* {
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: auto;
}

.square {
    background-color: white;
    flex: auto;
}

.paintedSquare {
    background-color: red;
}
